 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p class="text-center">Hi! I am Clarissa Fonseca. I was born in Mexico in 1990 and moved to U.S. in 2003. I made it my goal to have a career in science throughout highschool, got my B.A. in Biology in 2012 and headed off to med school in 2013. As much as I love science, I realized that was not my passion, graphic design is. I have always been enthralled by art, and found joy in making my own through painting and doodles, and now through digital art. I am an extremely motivated individual and I work hard in honing my skills as a graphic designer and now love what I do. I make things pretty and simple.</p>
                </div>
            </div>
        </div>
    </section>
